.pokemonGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .pokemonCard {
    display: flex;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 15px;
    padding: 10px;
    text-align: center;
  }

  .pokemonCol {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
